@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

.App {
    --header_height: 60px;
    margin: 131px 71px 34px;
    /* min-width: 56vw; */
    max-width: 90vw;
    min-height: 100vh;
    /* background: blue; */
    /* border: 1px solid; */
    position: relative;
    box-sizing: border-box;
}



.hw {

}
#hw1,#hw2,#hw3,#hw4,#hw5,#hw6,#hw7,#hw8,#hw9,#hw10,#hw11,#hw12,#hw13,#hw14,
#hw15{
    margin: 30px 0 40px;
}

.hwTitle {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

hr{
    width: auto;
    height: 1px;
    margin: 10px 0 30px;
}
